html{
    height: 100%;
}
body {
    height: 100%;
}

#fullCalculator {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40%;
    margin: auto;
    width: max-content;
    height: fit-content;
    background-color: slategrey;
    opacity: 0.9;
}

#mainDisplay {
    width: 100%;
    height: 20px;
    background-color: cornflowerblue;
    text-align: right;
}

#mainKeys {
    display: flex;
    flex-direction: row;
}

#numKeys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /*
    grid-template-areas: 
    "nine eight seven"
    "six five four"
    "three two one"
    "some zero clear";*/
}

#opKeys{
    display: grid;
    grid-template-areas: 
    "add divide"
    "subtract enter"
    "multiply enter";
}

#enter{
    grid-area: enter;
}